.page-color {
	background-color: #01617a;
}

.height-50 {
	line-height: 60px;
}

.logo {
	width: 40px;
	height: 60px;
	margin: 10px;
}
.white {
	color: white;
}

.nav > a {
	font-size: 14px;
	font-weight: bold;
	color: #ccccff;
}