<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="container-fluid">

  <!-- Navigation -->
  <div class="row page-color height-50">
    <div class="col">
      <nav class="nav justify-content-end">
        <a class="nav-link text-uppercase" routerLink="/inicio" routerLinkActive="active">Inicio</a>
        <a class="nav-link text-uppercase" routerLink="/galeria" routerLinkActive="active">Galeria</a>
      </nav>
    </div>
    <div class="col-auto">
      <nav class="justify-content-start">
        <img src="../../assets/images/valle-norte-tree.png" class="img-fluid logo" alt="Responsive image">
      </nav>
    </div>
    <div class="col">
      <nav class="nav justify-content-start">
        <a class="nav-link text-uppercase" routerLink="/contacto" routerLinkActive="active">Contacto</a>
        <a class="nav-link text-uppercase" routerLink="/acceso" routerLinkActive="active">Usuario</a>
      </nav>
    </div>
  </div>

  <!-- Content -->
  <router-outlet></router-outlet>
</div>

